body {
    padding: 0;
    text-rendering: optimizeSpeed;
    font-family: "Roboto", sans-serif;
    margin: auto;

}

.input-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 6px;
}

.tabs-box{
    display: flex;
    justify-content: center;
    margin-top: 2px;
}




